html {
    scroll-behavior: smooth; 
 }

body {
    /* background-color: purple */
    /* manggil font family lalu di install*/
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
}

.elemen1 {
    color: red;
    font-size: 20px;
    font-weight: 400;
}

.elemen2 {
    color: yellow;
    font-size: 25px;
    font-weight: 500;
}

.elemen3 {
    color: green;
    font-size: 30px;
    font-weight: 600;
}

.elemen4 {
    color: blue;
    font-size: 35px;
    font-weight: 700;
}

.elemen5 {
    color: orange;
    font-size: 40px;
    font-weight: 800;
}

 img {
     width: 704px;
     height: 407px;
     background-color: #f1f3ff;
 }